<h1><%= @wiki.title %></h1>
<p><%= @wiki.body %></p>
<%= link_to "Edit", edit_user_wiki_path(@user, @wiki), class: "btn btn-success" %>
<%= link_to "Delete", user_wiki_path(@user, @wiki), class: "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?'} %>